@font-face {
  font-family: "iconfont"; /* Project id 4859367 */
  src: url('iconfont.woff2?t=1742109838112') format('woff2'),
       url('iconfont.woff?t=1742109838112') format('woff'),
       url('iconfont.ttf?t=1742109838112') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-huidingbu:before {
  content: "\e691";
}

.icon-renwu:before {
  content: "\e62d";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-arrow-left:before {
  content: "\e645";
}

.icon-shuihougongzi:before {
  content: "\e629";
}

.icon-shizhongclock77:before {
  content: "\e60d";
}

.icon-gouwuche:before {
  content: "\e621";
}

.icon-jianzhu:before {
  content: "\e64f";
}

.icon-tanqingchangguiganxi:before {
  content: "\e6db";
}

.icon-sousuo:before {
  content: "\e63b";
}

.icon-arrow-left1:before {
  content: "\e600";
}

.icon-jiageguanxiguanli:before {
  content: "\e627";
}

.icon-cunchuka:before {
  content: "\e602";
}

